.services {
    position: relative;
    padding: 1rem 0;

    &-content {
        padding: 1rem;
        margin-top: 0;

        p {
            font-size: 1.2rem;

            @include media-breakpoint-down(sm){
                font-size: 0.8rem;     
            }
        }

        @include media-breakpoint-down(lg){
            margin-top: 5rem;  
        }
        
        .icon {
            font-size: 2.5rem;
            color: $blue-dark;

            @include media-breakpoint-down(sm){
                font-size: 1.5rem;     
            }
        }

        .btn-rounded {
            @include media-breakpoint-down(sm){
                display: inline-block;
            }
        }
    }

    &-pic {
        max-width: 100%;
    }
}